@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: all 0.2s ease;
  /* box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.7); */
}

body {
  overflow-x: hidden;
}

ul::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ccc;
  /* border-radius: 5px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0000009a;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
  appearance: textfield; /* Standard */
}

[contenteditable][data-placeholder]:empty:before {
  content: "Welcome to the Prescription editor \a\a Start typing here... \a\a [ Patient Name ] \a [ Diagnosis ] \a [ Medication & Dosage ] \a [ Instructions ] \a [ Additional Notes ]";
  position: absolute;
  white-space: pre;
  text-wrap: wrap;
  color: currentColor;
  cursor: text;
}

.editorLight::-webkit-scrollbar {
  width: 10px;
}
.editorLight::-webkit-scrollbar-thumb {
  background: rgb(249 115 22 / 0.5);
  border-radius: 10px;
}
.editorLight::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.editorDark::-webkit-scrollbar {
  width: 10px;
}
.editorDark::-webkit-scrollbar-thumb {
  background: rgb(249 115 22 / 1);
  border-radius: 10px;
}
.editorDark::-webkit-scrollbar-track {
  background: #222;
  border-radius: 10px;
}

.mainMain::before {
  content: "";
  background: url("/main_bg_2.jpg");
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.vbn::before {
  content: "";
  background: url("/main_bg_2.jpg");
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.scanBtn {
  background: radial-gradient(circle, #fff 50%, transparent 60%);
}

.bgSwitch {
  position: relative;
}

.bgSwitch:after {
  content: "";
  position: absolute;
  z-index: 0;
  background-color: rgb(233 213 255 / 1);
  /* background-color: red; */
  aspect-ratio: 1/1;
  width: 3.5rem; /* 56px */
  border-radius: 50%;
  transition: all 0.3s ease;
}
